<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="core.logic.mybatis.mapper.UserMapper">
    
    <select id="getUserInfo" parameterType="String" resultType="UserResult">
        SELECT 
        	id
        	, userId
        	, userPw
        	, name
        	, date
        FROM
        	tbl_richware_user
        WHERE
        	userId = #{id}
    </select>
    
    <select id="getBoardList" parameterType="String" resultType="UserResult">
        SELECT 
        	id
        	, userId
        	, userPw
        	, name
        	, date
        FROM
        	tbl_richware_user
        WHERE
        	userId = #{id}
    </select>
    
    <insert id="signupUser" parameterType="hashMap">
  		insert into tbl_richware_user (userId,userPw,name)
  		values (#{userId},#{userPw},#{name})
	</insert>
	
	<insert id="writeBoard" parameterType="hashMap">
  		insert into tbl_richware_board (uid,title,content)
  		values (#{uid},#{title},#{content})
	</insert>
    
    <select id="Login" parameterType="hashMap" resultType="Integer">
        SELECT
        	COUNT(*)
        FROM
        	tbl_richware_user
        WHERE 
        	userId = #{userId} AND userPw = #{userPw}
    </select>
    
    <!-- userId 중복 체크 -->
    <select id = "duplicateUserId" parameterType="String" resultType="Integer">
        SELECT
        	COUNT(*)
        FROM
        	tbl_richware_user
        WHERE
        	userId = #{userId}
    </select>
    
    <!-- userNick 중복 체크 -->
   <select id = "duplicateUserNick" parameterType="String" resultType="Integer">
        SELECT
        	COUNT(*)
        FROM
        	tbl_richware_user
        WHERE
        	userNick = #{userNick}
    </select>
	
</mapper>